<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>招标公告</title>
    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- mousewheel 鼠标滚轮插件 -->
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <div class="search">
        <div id="delete" class="delete"><img src="images/delete.png" alt=""></div>
        <div class="search_box">
            <input id="searchKeyword" type="text" placeholder="Search..." class="kw" onkeydown="searchkeydown(event, '#searchOk')">
           <input type="button" placeholder="" id="searchOk" onclick="bingsearch();return false;" class="ok" value="搜索">
       </div>
    </div>
    <div class="h2">
        <div id="d1" class="d1">
            <div class="block">
                <div class="nav_l">
                    <a href=""><div class="p">学生</div></a><i>|</i>
                    <a href=""><div class="p">教职</div></a><i>|</i>
                    <a href=""><div class="p">访客</div></a><i>|</i>
                    <a href=""><div class="p">招聘</div></a>
                </div>
                <div class="nav_r">
                    <div class="item"><img src="images/email.png" alt=""><a href=""><div class="p">办公邮箱</div></a></div>
                    <div class="item"><img src="images/system.png" alt=""><a href=""><div class="p">办公系统</div></a></div>
                    <div class="item"><img src="images/book.png" alt=""><a href=""><div class="p">智慧校园</div></a></div>
                </div>
            </div>
        </div>
        <div class="d2">
            <div id="boxd2-2" class="box">
                <div style="position: absolute;top: 0;left: 0;width: 100%;height: 15px;" class="transparent"></div>
                <a href="index.html"><img class="logo nota" src="images/schoolLog2.png" alt=""></a>
                <a class="nota" href="index.html">首页</a>
                <a class="a" href="page2.html">走进深外<div class="line"></div></a>
                <a class="a" href="page3.html">学校资讯<div class="line"></div></a>
                <a class="a" href="page4.html">教育教学<div class="line"></div></a>
                <a class="a" href="page5.html">学生空间<div class="line"></div></a>
                <a class="nota" href="page6.html">学校视频<div class="line"></div></a>
                <a class="a" href="page7.html">招生招聘<div class="line"></div></a>
                <div class="iconbox nota">
                    <img id="search2" class="icon" src="images/search2.png" alt="">
                    <img class="icon" src="images/EN2.png" alt="">
                </div>
                <div class="nav-child-2">
                    <div class="showitem">
                        <div style="left: 10%;" class="showbox">
                            <div class="left-box">
                                <img style="margin-right: 24px;width: 113px;height: 113px;"
                                     src="images/showbox-1.png" alt="">
                                <div class="l-r">
                                    <p>高标准</p>
                                    <p>有特色</p>
                                    <p>现代化</p>
                                    <p>办国内外一流名校</p>
                                </div>
                            </div>
                            <div class="right-box">
                                <div class="item"><a href="page2.html">学校介绍</a></div>
                                <div class="item"><a href="">学校文化</a></div>
                                <div class="item"><a href="">学校荣誉</a></div>
                                <div class="item"><a href="">学校刊物</a></div>
                                <div class="item"><a href="">规章制度</a></div>
                                <div class="item"><a href="">党建工作</a></div>
                                <div class="item"><a href="">校友会</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="showitem">
                        <div style="left: 15%;" class="showbox">
                            <div class="left-box">
                                <img style="margin-right: 24px;width: 113px;height: 113px;"
                                     src="images/pageh-1.png" alt="">
                                <div class="l-r">
                                    <p>振奋精神</p>
                                    <p>紧密团结</p>
                                    <p>攀登新的高峰</p>
                                </div>
                            </div>
                            <div class="right-box">
                                <div class="item"><a href="page8-1.html">学校新闻</a></div>
                                <div class="item"><a href="page8-2.html">通知公告</a></div>
                                <div class="item"><a href="page8-3.html">招标公告</a></div>
                                <div class="item"><a href="page8-4.html">媒体报道</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="showitem">
                        <div style="left: 25%;" class="showbox">
                            <div class="left-box">
                                <img style="margin-right: 24px;width: 113px;height: 113px;"
                                     src="images/showbox-3.png" alt="">
                                <div class="l-r">
                                    <p>教书育人</p>
                                    <p>治学严谨</p>
                                    <p>勤奋博学</p>
                                    <p>尊师友爱</p>
                                </div>
                            </div>
                            <div class="right-box">
                                <div class="item"><a href="">课程建设</a></div>
                                <div class="item"><a href="">教研活动</a></div>
                                <div class="item"><a href="">名师工作室</a></div>
                                <div class="item"><a href="">教师培训</a></div>
                                <div class="item"><a href="">电子资源</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="showitem">
                        <div style="left: 30%;" class="showbox">
                            <div class="left-box">
                                <img style="margin-right: 24px;width: 113px;height: 113px;"
                                     src="images/showbox-4.png" alt="">
                                <div class="l-r">
                                    <p>以人为本</p>
                                    <p>和谐发展</p>
                                    <p>为学生的终身幸福奠基</p>
                                </div>
                            </div>
                            <div class="right-box">
                                <div class="item"><a href="">团委</a></div>
                                <div class="item"><a href="">少先队</a></div>
                                <div class="item"><a href="">学长团</a></div>
                                <div class="item"><a href="">社团联合会</a></div>
                                <div class="item"><a href="">广电中心</a></div>
                                <div class="item"><a href="">六大节</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="showitem">
                        <div style="right: 10%;" class="showbox">
                            <div class="left-box">
                                <img style="margin-right: 24px;width: 113px;height: 113px;"
                                    src="images/showbox-5.png" alt="">
                                <div class="l-r">
                                    <p>高标准</p>
                                    <p>有特色</p>
                                    <p>现代化</p>
                                    <p>办国内外一流名校</p>
                                </div>
                            </div>
                            <div class="right-box">
                                <div class="item"><a href="">学校介绍</a></div>
                                <div class="item"><a href="">学校文化</a></div>
                                <div class="item"><a href="">学校荣誉</a></div>
                                <div class="item"><a href="">学校刊物</a></div>
                                <div class="item"><a href="">规章制度</a></div>
                                <div class="item"><a href="">党建工作</a></div>
                                <div class="item"><a href="">校友会</a></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="showitem">
                        <div style="right: 5%;" class="showbox">
                            <div class="left-box">
                                <img style="margin-right: 24px;width: 113px;height: 113px;"
                                     src="images/showbox-6.png" alt="">
                                <div class="l-r">
                                    <p>以人为本</p>
                                    <p>和谐发展</p>
                                    <p>为学生的终身幸福奠基</p>
                                </div>
                            </div>
                            <div class="right-box">
                                <div class="item"><a href="">学生招生</a></div>
                                <div class="item"><a href="">教师招聘</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page8-2">
        <div class="banner-2">
            <img src="images/page8-1.jpg" alt="">
        </div>
        <div class="main">
            <div class="innerbox">
                <div class="menu1">
                    <div class="head">
                        <p>新闻资讯</p>
                        <p style="font-family: Calibri;">NEWS</p>
                    </div>
                    <a href="page8-1.html"><div class="item">学校新闻</div></a>
                    <a href="page8-2.html"><div class="item">通知公告</div></a>
                    <a href="page8-3.html"><div class="item choose">招标公告</div></a>
                    <a href="page8-4.html"><div class="item">媒体报道</div></a>
                </div>
                <div class="right-menu">
                    <img style="width: 18px;height: 16px;cursor: pointer;" src="images/page8-6.png" alt="">
                    <p style="cursor: pointer;">· 学校资讯</p>
                    <p style="cursor: pointer;">· 招标公告</p>
                </div>
                <div class="mainbox">
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深圳外国语学校2019年7月选聘教师结果公告</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深圳外国语学校膳食委员会2018-2019学年工作方案</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>“认真上好每堂课，认真教好每个学生” ——罗来金校长与外小全体教师座谈交流</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>不负梦想，再铸辉煌 | 深外（集团）举行高考“百日倒计时”誓师大会</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>“素以为绚 各美其美”——深圳外国语学校（集团）初中部系列美术作品展</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深外质量，深圳典范 | 国务院督查组一行莅临深外督查疫情防控工作</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>五育并举育英才，深外选手勇夺3金5银1铜，闪耀广东赛场！</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>罗来金校长新年致辞 | 2020同担当，2021再出发</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深外荣耀 | 保送清华、获评“广东省优秀学生”，听贺欣悦的深外故事</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深外荣耀｜优秀没有终点，2020届深外高三学子再创新高度</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>2020年深圳外国语学校自主招生（一类自招）面试通过名单公示</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>连续5年居广东第一、清北保送生近50人！高考即将放榜，深圳这所学校引关注</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深圳外国语学校高中部2020年自主招生二类招生工作方案</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深外外语书院 | 特色精准育人，是语言专才成长的“摇篮”</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>语言艺术交流协会｜用心倾听信件背后的故事，用爱感受语言文字的美好</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>深外模联社团｜超越平凡，纵凌云壮志，在模联的天空翱翔</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>龙华高中部 | 首届高三学子庄严宣誓：十八而志，家国天下！</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>有学生戴N95口罩上体育课？医生急了：千万不要！损害不可逆！</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>开学在即，学校防控准备好了吗？深圳市委书记、市长现场检查</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    <a href="page9-3.html" class="item">
                        <div class="left-box">
                            <p>广东唯一丨金一钒同学入围第二届阿里巴巴全球数学竞赛决赛</p>
                        </div>
                        <div class="right-box">
                            <p>2021-03-12</p>
                        </div>
                    </a>
                    
                    <ul style="margin-top: 80px;" class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- 分页器 -->
            
            <div class="footer">
                <div class="box-1">
                    <div class="dock1">
                        <div class="item"><a href="#">文理书院</a></div>
                        <div class="item"><a href="#">国际书院</a></div>
                        <div class="item"><a href="#">外语书院</a></div>
                        <div class="item"><a href="#">创新书院</a></div>
                        <div class="item"><a href="#">燕南学堂</a></div>
                        <div class="item"><a href="page10.html">联系我们</a></div>
                        <div class="item"><a href="#">网站地图</a></div>
                        <div class="item wx">
                            <div class="img">
                                <img src="images/wxIcon.png" alt="">
                                <div class="qrcode">
                                    <img style="width: 120px;height: 120px;" src="images/wxqrcode.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-2">
                    <div class="dock2">
                        <div class="logo"><img src="images/schoolLogo.png" alt=""></div>
                        <div class="others">
                            <p>版权所有©深圳外国语学校</p><i>|</i>
                            <p>地址：广东省深圳市红荔路2005号</p><i>|</i>
                            <p>电话：0755-25652582</p><i>|</i>
                            <p>反馈意见：sz5180183@136.com</p><i>|</i>
                            <p>邮编：518000</p><i>|</i>
                            <p>粤ICP号12014937号</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 搜索框显示与隐藏
        $("#search2").click(function () {
            $(".search").css({"opacity":"1","visibility":"visible"})
        })
        $("#delete").click(function () {
            $(".search").css({"opacity":"0","visibility":"hidden"})
        })
        // 搜索引擎bing
        function bingsearch(){
            if($("input#searchKeyword").val()==""){
                alert('请输入关键字');
                return false;
            }
            // var key = $("input#searchKeyword").val()+"+site:pku.edu.cn";
            var key = $("input#searchKeyword").val();
            var url = 'https://cn.bing.com/search?ensearch=1&q=' + encodeURI(key);
            window.open(url);
            $(".search").css({"opacity":"0","visibility":"hidden"})
            $("input#searchKeyword").val("");
            }
        function searchkeydown(e, but) {
            var currKey=0,e=e||event;
            var _this = $(but);
            if(e.keyCode==13)
            {
                _this.click();
                return false;
            }
        }
        // 顶部导航栏h2显示隐藏
        $(document).ready(function (index) {
            $("#boxd2-2 > .a").each(function (index) {
                $(this).mouseenter(function () {
                    $(".nav-child-2 > .showitem").eq(index).css("display","block");
                    $(".nav-child-2 > .showitem").each(function (val) {
                        if (val != index) {
                            $(".nav-child-2 > .showitem").eq(val).css("display","none");
                        }
                    })
                })
                $(".transparent").mouseenter(function () {
                    $(".nav-child-2 > .showitem").eq(index).css("display", "none");
                })
                $("#boxd2-2").children(".nota").mouseenter(function () {
                    $(".nav-child-2 > .showitem").eq(index).css("display","none");
                })
                $(".d1").mouseenter(function () {
                    $(".nav-child-2 > .showitem").eq(index).css("display","none");
                })
                $(".nav-child-2 > .showitem").mouseleave(function () {
                    $(".nav-child-2 > .showitem").eq(index).css("display","none");
                })
            });
        });
        $(document).mousewheel(function (event) {
            if (event.deltaY == -1) {
                $("#d1").slideUp("fast");
            } else if (event.deltaY == 1) {
                $("#d1").slideDown("fast");
            }
            // var part2Top = $("#part-2").offset().top;
            var wTop = $(window).height();//可视区域的高度
            // console.log(wTop)
            window.onresize = function () {
                var wTop = $(window).height();//缩放窗口这个高度会改变，需要再取得
            }
            // $(window).scroll(function(){
            var dTop = $(document).scrollTop(); //可视区域上面到页面顶部的距离，会实时改变
            // console.log(dTop)
            //进入可视区域
            // if(dTop+wTop-200 > part2Top){
            //     //动画播放事件
            //     alert('1');
            //     $("#part-2").css("opacity","0");
            // };
            // });                       
        });
    </script>
</body>
</html>